name: Build Artifact
on:
    push:
        branches:
            - master

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v2
              with:
                  submodules: true
            - name: Install Node.js
              uses: actions/setup-node@v1
              with:
                  node-version: 10.x
            - run: ./gradlew publish -Pversion=1.0.${{ github.run_id }}
            - name: Upload build artifact
              uses: actions/upload-artifact@v2
              with:
                  path: "build/repo/**/*"
